<section class="login-container">
  <div class="card card-outline card-info fondo my-5">
    <div class="card-header text-center">
      <a [routerLink]="['/']" class="h1"><b>Inventory</b>BIT</a><img src="assets/img/logo1.png">
    </div>

    <div class="card-body">
      <p class="login-box-msg">Inicie sesión</p>

      <form [formGroup]="loginForm" (ngSubmit)="loginByAuth()">
        <div class="input-group mb-3">
          <input formControlName="email" type="email" class="form-control" placeholder="Correo" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-envelope"></span>
            </div>
          </div>
        </div>
        <div class="input-group mb-3">
          <input formControlName="password" type="password" class="form-control" placeholder="Contraseña" />
          <div class="input-group-append">
            <div class="input-group-text">
              <span class="fas fa-lock"></span>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-7">
            <div class="icheck-primary">
              <input type="checkbox" id="remember" />
              <label for="remember"> Recordar datos</label>
            </div>
          </div>
          <!-- /.col -->
          <div class="col-5">
            <pf-button [type]="'submit'" [block]="true" theme="dark" [loading]="isAuthLoading"
              [disabled]="isFacebookLoading || isGoogleLoading">
              Ingresar
            </pf-button>
          </div>
          <!-- /.col -->
        </div>
      </form>

      <div class="social-auth-links text-center mb-3">

        <pf-button class="mb-2" [block]="true" [loading]="isFacebookLoading"
          [disabled]="isAuthLoading || isGoogleLoading" theme="dark" (click)="loginByFacebook()">
          <i class="fab fa-facebook mr-2"></i>
          Ingrese con Facebook

        </pf-button>
        <pf-button [block]="true" [loading]="isGoogleLoading" [disabled]="isAuthLoading || isFacebookLoading"
          theme="dark" (click)="loginByGoogle()">
          <i class="fab fa-google mr-2"></i>
          Ingrese con Google+
        </pf-button>
      </div>

      <p class="mb-1">
        <a [routerLink]="['/forgot-password']">Olvide mi contraseña</a>
      </p>
      <p class="mb-0">
        <a [routerLink]="['/register']" class="text-center">
          Crear una cuenta
        </a>
      </p>
    </div>
    <!-- /.login-card-body -->
  </div>

</section>
