<div class="card card-outline card-success">
    <div class="card-header text-center">
        <a [routerLink]="['/']" class="h1"><b>Inventory</b>BIT</a><img src="assets/img/logo1.png">
    </div>
    <div class="card-body">
        <p class="login-box-msg">
            Use el correo eletrónico asiciacido a su cuenta para enviarle una contraseña nueva.
        </p>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="forgotPassword()">
            <div class="input-group mb-3">
                <input
                    formControlName="email"
                    type="email"
                    class="form-control"
                    placeholder="Ingrese su correo"
                />
                <div class="input-group-append">
                    <div class="input-group-text">
                        <span class="fas fa-envelope"></span>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-12">
                    <pf-button [type]="'submit'" [block]="true">
                        Solicite una nueva contraseña
                    </pf-button>
                </div>
            </div>
        </form>
        <p class="mt-3 mb-1">
            <a [routerLink]="['/login']">Ingresar a mi perfil</a>
        </p>
    </div>
</div>
