<div class="content-header">
    <div class="container-fluid">
        <div class="row mb-2">
            <div class="col-sm-12 text-center">
                <h1 class="m-0 text-dark w-100">Control asignación de equipos</h1>
            </div>
            <!-- /.col -->
            <div class="col-sm-12">
                <ol class="breadcrumb float-sm-right">
                    <li class="breadcrumb-item"><a href="#"></a></li>

                </ol>
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
</div>
<!-- /.content-header -->


<div class="container">

    <div class="d-flex justify-content-center aling-items-center w-100">
        <div class="row row-cols-3 g-4">

            <div class="col">
                <div class="card">
                    <div class="">
                        <img src="../../../assets/img/consultar1.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="blank" class="btn btn-dark w-100 boton">Consultar asignación</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="">
                        <img src="../../../assets/img/consultar_asignacion.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="crear-producto" class="btn btn-dark w-100 boton">Crear asignación</a>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col">
                <div class="card">
                    <div class="">
                        <img src="../../../assets/img/usuarios.jpg" class="card-img-top" alt="...">
                        <div class="card-body">
                            <a href="admin-producto" class="btn btn-dark w-100 boton">Administrar Asignaciones</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
</div>


<!-- cuadros que ya estaban en el proyecto -->

<!-- /.content -->
