.card{
    border-radius: 15px;
    border-color: aquamarine;
    overflow: hidden;
    background: #fff;
    box-shadow: 5px, 6px, 20px rgba(0,0,1,1);
    cursor: default;
    transition: all 400ms ease;
}

.card:hover{
    box-shadow: 5px, 5px, 20px rgba(0,0,0,0.9);
    transform: translateY(-3%);
}

.card .boton:hover{
    background: #36cce9;


}

