:disabled {
    background: rgb(214, 197, 197) !important;
    cursor: not-allowed;
}

input[type=number]::-webkit-outer-spin-button,
input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
